# Python Data structure

1. What are data structures, and why are they important?

Ans-->> Data structures are ways to organize and store data efficiently. They are crucial because they enable optimal data access, modification, and management, helping in problem-solving and building scalable applications.

2.  Explain the difference between mutable and immutable data types with examplesP

Ans-->> 1. Mutable: Can be changed after creation (e.g., list, dict, set).

In [ ]:
lst = [1, 2]; lst[0] = 9  # Valid

2. Immutable: Cannot be changed after creation (e.g., int, str, tuple).

In [ ]:
s = "hello"; s[0] = 'H'  # Error

3. What are the main differences between lists and tuples in Python?

Ans-->>
In Python, lists and tuples are both used to store collections of items, but they differ in several key aspects:

*   Mutability: Lists are mutable, meaning their elements can be changed, added, or removed after creation. Tuples are immutable, so once created, their elements cannot be altered.
*   Syntax: Lists use square brackets [ ], while tuples use parentheses ( ).


*   Performance: Tuples are generally faster than lists due to their immutability and fixed size.
*  Use Case: Use a list when the data is expected to change (e.g., a shopping cart). Use a tuple when the data should remain constant (e.g., GPS coordinates or configuration settings).

4.  Describe how dictionaries store data ?

Ans-->> Dictionaries store data as key-value pairs using a hash table internally. Each key is hashed to determine its index in memory.

5. Why might you use a set instead of a list in Python?

Ans-->>  *   Automatically remove duplicates
*   Offer faster lookup (O(1) vs O(n) in lists)

6. What is a string in Python, and how is it different from a list?

Ans--> A string is an immutable sequence of Unicode characters.
Differences:

*   Strings are immutable; lists are mutable.
*    Strings are specialized for text; lists can hold any type.

7. How do tuples ensure data integrity in Python ?

Ans-->> Tuples are immutable, meaning data can’t be altered after creation. This protects data from accidental changes.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans-->> A hash table maps keys to values using a hash function. Python’s dict uses a hash table for fast lookup, insertion, and deletion.

9. Can lists contain different data types in Python ?

Ans-->> Yes. Python lists are heterogeneous:

In [ ]:
mixed = [1, "hello", True, 3.14]

10.  Explain why strings are immutable in Python ?

Ans-->> Immutability makes strings thread-safe and allows Python to optimize memory usage via string interning.

11. What advantages do dictionaries offer over lists for certain tasks ?

Ans-->>

*   Faster lookups (O(1))
*    Key-based access

*  Useful for storing structured data (like records)

12. Describe a scenario where using a tuple would be preferable over a list

Ans-->>

*  A fixed collection (e.g., coordinates: (x, y))
*  To use data as a dictionary key

*  To ensure no accidental modification

13. How do sets handle duplicate values in Python

Ans-->> Sets automatically discard duplicates:

In [ ]:
s = {1, 2, 2, 3}  # Result: {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries

Ans-->>

*   List: Checks if value exists (O(n))
* Dict: Checks if key exists (O(1))

15. Can you modify the elements of a tuple? Explain why or why not

Ans-->> No. Tuples are immutable; their contents cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case

Ans-->> A dictionary inside another dictionary.
Useful for structured data:

In [1]:
student = {
  "name": "Adarsh",
  "marks": {"math": 90, "science": 85}
}

17. Describe the time complexity of accessing elements in a dictionary.

Ans-->>Average-case: O(1) (due to hash table)
Worst-case: O(n) (very rare, due to collisions)

18. In what situations are lists preferred over dictionaries?

Ans-->>

*   When order matters
*   When data doesn’t require key-based access

*  For simple sequential data (e.g., a to-do list)

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans-->> Pre-Python 3.7, dict did not preserve insertion order. Since 3.7, it does preserve order, but key access is still based on hashing, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans-->>

*   List: Retrieve by index (list[0])
*  Dictionary: Retrieve by key (dict["name"])

# Practical questions--

1. Write a code to create a string with your name and print it

Ans--->>

In [2]:
name = "Adarsh Patidar"
print(name)

Adarsh Patidar

2. Write a code to find the length of the string "Hello World"

Ans--->>

In [4]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

Ans--->>

In [3]:
s = "Python Programming"
print(s[:3])  # Output: Pyt

Pyt

4. Write a code to convert the string "hello" to uppercase

Ans--->>

In [5]:
s = "hello"
print(s.upper())  # Output: HELLO

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

Ans--->>

In [6]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))  # Output: I like orange

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

Ans--->>

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

Ans--->>

In [8]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)  # Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

Ans--->>

In [9]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

Ans-->>

In [10]:
chars = ['a', 'b', 'c', 'd']
print(chars[1])  # Output: b

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

Ans--->>

In [11]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)  # Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it

Ans-->>

In [12]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

Ans-->>

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: blue

blue

13. Find the minimum number in the tuple (10, 20, 5, 15)

Ans-->>

In [14]:
t = (10, 20, 5, 15)
print(min(t))  # Output: 5

5

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

Ans--->>

In [16]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))  # Output: 1

1

15. Create a tuple with three fruits and check if "kiwi" is in it

Ans--->>

In [15]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)  # Output: False

False

16. Create a set with elements 'a', 'b', 'c' and print it

Ans-->>

In [17]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

17. Clear all elements from the set {1, 2, 3, 4, 5}

Ans-->>

In [18]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)  # Output: set()

set()

18. Remove the element 4 from the set {1, 2, 3, 4}

Ans--->>

In [19]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

19. Find the union of sets {1, 2, 3} and {3, 4, 5}

Ans-->>

In [20]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

20. Find the intersection of sets {1, 2, 3} and {2, 3, 4}

Ans-->>

In [21]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))  # Output: {2, 3}

{2, 3}

21. Create a dictionary with keys "name", "age", and "city", and print it

Ans--->>

In [22]:
info = {"name": "Adarsh", "age": 22, "city": "Indore"}
print(info)

{'name': 'Adarsh', 'age': 22, 'city': 'Indore'}

22. Add "country": "USA" to {'name': 'John', 'age': 25}

Ans-->>>

In [23]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value of key "name" in {'name': 'Alice', 'age': 30}

Ans-->>

In [24]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])  # Output: Alice

Alice

24. Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

Ans--->>

In [25]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}

Ans-->>

In [26]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)  # Output: True

True

26. Create a list, tuple, and dictionary, and print them all

Ans-->>

In [27]:
lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {'a': 1, 'b': 2}
print(lst, tup, dic)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Create a list of 5 random numbers between 1 and 100, sort it, and print

Ans--->>

In [28]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[8, 38, 52, 56, 87]

28. Create a list with strings and print the element at the third index

Ans--->>

In [29]:
words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])  # Output: date

date

29. Combine two dictionaries and print the result

Ans--->>

In [30]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of strings into a set

Ans-->>

In [31]:
lst = ['apple', 'banana', 'apple', 'cherry']
s = set(lst)
print(s)  # Duplicates removed

{'apple', 'banana', 'cherry'}